n8n-integration/workflows/executive_intelligence_workflow.json
{
  "name": "Executive Intelligence Pipeline",
  "description": "Real-time cross-platform business intelligence impossible with standard integrations",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 */6 * * *",
        "triggerAtStartup": true
      },
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 300],
      "id": "cron-trigger"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/adCampaignsV2",
        "authentication": "oAuth2",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Fetch LinkedIn Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 200],
      "id": "linkedin-fetch"
    },
    {
      "parameters": {
        "url": "https://googleads.googleapis.com/v14/customers",
        "authentication": "oAuth2",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Fetch Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 400],
      "id": "google-ads-fetch"
    },
    {
      "parameters": {
        "url": "http://sophia-mcp-bridge:9099/api/v1/n8n/process",
        "options": {
          "body": {
            "body": {
              "workflow_id": "executive_intelligence",
              "execution_id": "={{$json.execution_id}}",
              "node_name": "LinkedIn_AI_Enhancement",
              "mcp_server": "business_intelligence",
              "enhancement_type": "executive_intelligence",
              "data": "={{$json}}",
              "priority": "executive"
            }
          }
        },
        "method": "POST"
      },
      "name": "Sophia AI Enhancement - LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 200],
      "id": "sophia-linkedin-enhancement"
    },
    {
      "parameters": {
        "url": "http://sophia-mcp-bridge:9099/api/v1/n8n/process",
        "options": {
          "body": {
            "body": {
              "workflow_id": "executive_intelligence",
              "execution_id": "={{$json.execution_id}}",
              "node_name": "Google_AI_Enhancement",
              "mcp_server": "business_intelligence", 
              "enhancement_type": "executive_intelligence",
              "data": "={{$json}}",
              "priority": "executive"
            }
          }
        },
        "method": "POST"
      },
      "name": "Sophia AI Enhancement - Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 400],
      "id": "sophia-google-enhancement"
    },
    {
      "parameters": {
        "url": "http://sophia-mcp-bridge:9099/api/v1/n8n/batch-process",
        "options": {
          "body": {
            "body": {
              "requests": [
                {
                  "workflow_id": "cross_platform_synthesis",
                  "execution_id": "={{$json.execution_id}}",
                  "node_name": "Executive_Synthesis",
                  "mcp_server": "ai_memory",
                  "enhancement_type": "cross_platform_correlation",
                  "data": {
                    "linkedin_insights": "={{$node['Sophia AI Enhancement - LinkedIn'].json}}",
                    "google_insights": "={{$node['Sophia AI Enhancement - Google'].json}}",
                    "synthesis_type": "executive_dashboard"
                  },
                  "priority": "executive"
                }
              ]
            }
          }
        },
        "method": "POST"
      },
      "name": "Cross-Platform Intelligence Synthesis",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 1,
      "position": [700, 300],
      "id": "cross-platform-synthesis"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.risk_score}}",
              "operation": "larger",
              "value2": "7"
            }
          ]
        }
      },
      "name": "High Risk Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300],
      "id": "risk-assessment"
    },
    {
      "parameters": {
        "channel": "#executive-alerts",
        "text": "🚨 HIGH PRIORITY: Executive attention required\n\n📊 Cross-Platform Analysis:\n• LinkedIn Performance: ={{$node['Sophia AI Enhancement - LinkedIn'].json.performance_score}}\n• Google Campaign ROI: ={{$node['Sophia AI Enhancement - Google'].json.roi_analysis}}\n• Risk Factors: ={{$json.risk_factors}}\n• Recommended Actions: ={{$json.executive_recommendations}}\n\nGenerated by Sophia AI Executive Intelligence",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "name": "CEO Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1100, 200],
      "id": "ceo-alert"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/enhanced-chat/executive-update",
        "options": {
          "body": {
            "body": {
              "update_type": "performance_intelligence",
              "data": "={{$json}}",
              "priority": "executive",
              "dashboard_integration": true
            }
          }
        },
        "method": "POST"
      },
      "name": "Update Executive Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1100, 400],
      "id": "dashboard-update"
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Ads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google Ads", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Ads": {
      "main": [
        [
          {
            "node": "Sophia AI Enhancement - LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Ads": {
      "main": [
        [
          {
            "node": "Sophia AI Enhancement - Google",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Sophia AI Enhancement - LinkedIn": {
      "main": [
        [
          {
            "node": "Cross-Platform Intelligence Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sophia AI Enhancement - Google": {
      "main": [
        [
          {
            "node": "Cross-Platform Intelligence Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cross-Platform Intelligence Synthesis": {
      "main": [
        [
          {
            "node": "High Risk Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Risk Alert?": {
      "main": [
        [
          {
            "node": "CEO Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Executive Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["executive", "intelligence", "sophia-ai", "cross-platform"],
  "triggerCount": 1,
  "updatedAt": "2025-01-30T10:00:00.000Z",
  "versionId": "1"
} 