n8n-integration/workflows/mcp_tool_notion_create_page.json
{
  "name": "MCP Tool: Notion - Create Page",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "path": "notion-create-page",
        "options": {}
      },
      "name": "Webhook Trigger (Notion)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [440, 300],
      "webhookId": "mcp-notion-create-page"
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "create",
        "databaseId": "={{$json.body.databaseId}}",
        "title": "={{$json.body.title}}",
        "content": "={{$json.body.content}}"
      },
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [640, 300],
      "credentials": {
        "notionApi": {
          "id": "sophia-notion-prod",
          "name": "Sophia Notion Prod"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseFor": "webhook",
        "webhookId": "mcp-notion-create-page",
        "responseData": "={{$json}}",
        "responseFormat": "json"
      },
      "name": "Return Page Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook Trigger (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Notion)": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Return Page Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "notion-create-page-tool"
}
