n8n-integration/workflows/mcp_wrapper_ai_memory_store.json
{
  "name": "MCP Wrapper: AI Memory - Store",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "path": "ai-memory-store",
        "options": {}
      },
      "name": "Webhook Trigger (Store)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [440, 300],
      "webhookId": "mcp-ai-memory-store"
    },
    {
      "parameters": {
        "url": "http://localhost:9001/api/v1/memory/store",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.body.content}}"
            },
            {
              "name": "category",
              "value": "={{$json.body.category || 'general'}}"
            },
            {
              "name": "tags",
              "value": "={{$json.body.tags || []}}"
            },
            {
              "name": "importance_score",
              "value": "={{$json.body.importance_score || 0.5}}"
            }
          ]
        },
        "json": true
      },
      "name": "Call AI Memory Store API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseFor": "webhook",
        "webhookId": "mcp-ai-memory-store",
        "responseData": "={{$json}}",
        "responseFormat": "json"
      },
      "name": "Respond with Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook Trigger (Store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Store)": {
      "main": [
        [
          {
            "node": "Call AI Memory Store API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Memory Store API": {
      "main": [
        [
          {
            "node": "Respond with Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "ai-memory-store-wrapper"
}
