n8n-integration/workflows/mcp_wrapper_codacy_analysis.json
{
  "name": "MCP Wrapper: Codacy Code Analysis",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "path": "codacy-mcp-tool",
        "options": {}
      },
      "name": "MCP Tool Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "webhookId": "mcp-codacy-wrapper"
    },
    {
      "parameters": {
        "url": "http://localhost:3008/api/v1/analyze/code",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{$json.body.code}}"
            },
            {
              "name": "filename",
              "value": "={{$json.body.filename || 'mcp_snippet.py'}}"
            }
          ]
        },
        "json": true
      },
      "name": "Call Internal Codacy API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseFor": "webhook",
        "webhookId": "mcp-codacy-wrapper",
        "responseData": "={{$json}}",
        "responseFormat": "json"
      },
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "MCP Tool Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Tool Trigger": {
      "main": [
        [
          {
            "node": "Call Internal Codacy API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Internal Codacy API": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "codacy-mcp-wrapper"
}
