n8n-integration/workflows/mcp_tool_snowflake_query.json
{
  "name": "MCP Tool: ModernStack Query Executor",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "path": "modern_stack-query",
        "options": {}
      },
      "name": "Webhook Trigger (ModernStack)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [440, 300],
      "webhookId": "mcp-modern_stack-query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.body.query}}",
        "options": {}
      },
      "name": "Execute ModernStack Query",
      "type": "n8n-nodes-base.modern_stack",
      "typeVersion": 1,
      "position": [640, 300],
      "credentials": {
        "modern_stack": {
          "id": "sophia-modern_stack-prod",
          "name": "Sophia ModernStack Prod"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseFor": "webhook",
        "webhookId": "mcp-modern_stack-query",
        "responseData": "={{$json}}",
        "responseFormat": "json"
      },
      "name": "Return Query Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook Trigger (ModernStack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (ModernStack)": {
      "main": [
        [
          {
            "node": "Execute ModernStack Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute ModernStack Query": {
      "main": [
        [
          {
            "node": "Return Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "modern_stack-query-tool"
}
