n8n-integration/workflows/mcp_tool_submit_training_data.json
{
  "name": "MCP Tool: Submit Training Data",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "path": "submit-training-data",
        "options": {}
      },
      "name": "Webhook Trigger (Training)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "webhookId": "mcp-submit-training-data"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/training/submit",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{$json.body.user_id}}"
            },
            {
              "name": "topic",
              "value": "={{$json.body.topic}}"
            },
            {
              "name": "content",
              "value": "={{$json.body.content}}"
            }
          ]
        },
        "json": true
      },
      "name": "Call Training Service API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseFor": "webhook",
        "webhookId": "mcp-submit-training-data",
        "responseData": "={{$json}}",
        "responseFormat": "json"
      },
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook Trigger (Training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Training)": {
      "main": [
        [
          {
            "node": "Call Training Service API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Training Service API": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "submit-training-data-tool"
}
