apps/n8n-bridge/workflows/workflows/mcp_tool_recommend_pattern.json
{
  "name": "MCP Tool: Recommend Repository Pattern",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "path": "recommend-pattern",
        "options": {}
      },
      "name": "Webhook Trigger (Recommend)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "webhookId": "mcp-recommend-pattern"
    },
    {
      "parameters": {
        "command": "python3 scripts/analyze_external_repositories.py \"{{$json.body.query}}\"",
        "options": {
          "shell": true
        }
      },
      "name": "Execute Analysis Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "value": "={{$json.stdout}}",
        "options": {}
      },
      "name": "Parse JSON Output",
      "type": "n8n-nodes-base.parseJson",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseFor": "webhook",
        "webhookId": "mcp-recommend-pattern",
        "responseData": "={{$json}}",
        "responseFormat": "json"
      },
      "name": "Return Recommendations",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook Trigger (Recommend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Recommend)": {
      "main": [
        [
          {
            "node": "Execute Analysis Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Analysis Script": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "Return Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "recommend-pattern-tool"
}